.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    // background: #fff;
}

.table {
    width: 100%;
    padding: 0 2%;
}

.slot-content {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    .account {
        width: 60%;
        display: flex;
        justify-content: flex-start;
        .avatar {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
        }
        .account-desc {
            margin-left: 1rem;
            .title {
                font-size: 1.25rem;
                line-height: 2.5rem;
                height: 2.5rem;
            }
            .desc {
                height: 2rem;
                line-height: 2rem;
                color: #000;
                opacity: 0.45;
            }
        }
    }
    .datas {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        padding-right: 1.25rem;
        .item {
            margin: 0 1.25rem;
            padding-top: 0.25rem;
            .label {
                height: 1.75rem;
                line-height: 1.75rem;
                opacity: 0.45;
            }
            .value {
                height: 2.75rem;
                line-height: 2.75rem;
                font-size: 1.25rem;
            }
        }
    }
}

.grid {
    width: 33.3%;
    height: 8rem;
    padding: 16px 24px;
    .grid-title {
        display: flex;
        align-items: center;
    }
    .grid-image {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .grid-desc {
        line-height: 22px;
        color: #000;
        opacity: 0.45;
        height: 44px;
        overflow: hidden;
        margin: 5px 0;
    }
    .grid-footer {
        line-height: 22px;
        color: #000;
        opacity: 0.45;
        font-size: 13px;
    }
}

.list {
    margin: 20px 0;
    .avatar {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
    }
}

.item-group {
    padding: 20px 0 8px 24px;
    font-size: 0;
    a {
        color: rgba(0, 0, 0, 0.65);
        display: inline-block;
        font-size: 14px;
        margin-bottom: 13px;
        width: 25%;
    }
}

.members {
    a {
        display: block;
        margin: 12px 0;
        line-height: 24px;
        height: 24px;
        .member {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            line-height: 24px;
            max-width: 100px;
            vertical-align: top;
            margin-left: 12px;
            transition: all 0.3s;
            display: inline-block;
        }
        &:hover {
            span {
                color: #1890ff;
            }
        }
    }
}